	body #social-links, html #social-links {
	    transition: all ease .25s;
	    text-shadow:0 .05rem .25rem rgba(0, 0, 0, .05)
	}
	body #social-links:hover, html #social-links:hover {
	    transform:scale(1.05)
	}
	body #social-links:hover, html #social-links:hover {
	    text-shadow:0 .15rem .5rem rgba(0, 0, 0, .15)
	}
	body #social-links .fa-hand-paper, html #social-links .fa-hand-paper {
	    -moz-transform: scale(-1, 1) rotate(45deg);
	    -webkit-transform: scale(-1, 1) rotate(45deg);
	    -o-transform: scale(-1, 1) rotate(45deg);
	    -ms-transform: scale(-1, 1) rotate(45deg);
	    transform:scale(-1, 1) rotate(45deg)
	}
	body #social-links #link-content, html #social-links #link-content {
	    display: flex;
	    justify-content: center;
	    align-items: center
	}
	#social-links .lg\:m-5 {
	   margin:1.25rem
	    }
	#social-links .text-white {
	    --tw-text-opacity: 1;
	    color:rgba(255, 255, 255, var(--tw-text-opacity))
	}
	#social-links .hover\:opacity-75:hover {
	    opacity:.75
	}
	#social-links .font-semibold {
	    font-weight:600
	}
	#social-links .my-2\.5 {
	    margin-top: .625rem;
	    margin-bottom:.625rem
	}
	#social-links .mx-5 {
	    margin-left: 1.25rem;
	    margin-right:1.25rem
	}
	#social-links .px-5 {
	    padding-left: 1.25rem;
	    padding-right:1.25rem
	}
	#social-links .py-1\.5 {
	    padding-top: .375rem;
	    padding-bottom:.375rem
	}
	#social-links .rounded-md {
	    border-radius:.375rem
	}
	#social-links .w-full {
	    width:100%
	}
	#social-links .place-content-center {
	    place-content:center
	}
	#social-links .h-14 {
	    height:3.5rem
	}
	#social-links .w-32 {
	    width:9rem
	}
	#social-links md\:5 {}
	#social-links sm\:3\.5 {}
	